In [1]:
import math
import warnings

from IPython.display import display
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import tree
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score



# Display preferences.
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
warnings.filterwarnings(
    action="ignore",
    module="scipy",
    message="^internal gelsd")

Now that you've learned about random forests and decision trees let's do an exercise in accuracy. You know that random forests are basically a collection of decision trees. But how do the accuracies of the two models compare?

So here's what you should do. Pick a dataset. It could be one you've worked with before or it could be a new one. Then build the best decision tree you can.

Now try to match that with the simplest random forest you can. For our purposes measure simplicity with runtime. Compare that to the runtime of the decision tree. This is imperfect but just go with it.

Hopefully out of this you'll see the power of random forests, but also their potential costs. Remember, in the real world you won't necessarily be dealing with thousands of rows. It could be millions, billions, or even more.

Submit a link to your models below.

In [2]:
df = pd.read_excel('nyc_crimes.xls', skiprows=4)

df = df.drop([348, 349, 350])

In [3]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.000,0.000,0.000,nan,0.000,0.000,0.000,12.000,2.000,10.000,0.000,0.000
1,Addison Town and Village,2577.000,3.000,0.000,nan,0.000,0.000,3.000,24.000,3.000,20.000,1.000,0.000
2,Akron Village,2846.000,3.000,0.000,nan,0.000,0.000,3.000,16.000,1.000,15.000,0.000,0.000
3,Albany,97956.000,791.000,8.000,nan,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,nan
4,Albion Village,6388.000,23.000,0.000,nan,3.000,4.000,16.000,223.000,53.000,165.000,5.000,nan

In [4]:
df = df.fillna(0)

In [5]:
df.describe()

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
count,348.000,348.000,348.000,348.000,348.000,348.000,348.000,348.000,348.000,348.000,348.000,348.000
mean,40037.632,201.595,1.566,0.000,5.865,72.902,121.261,792.606,119.684,637.017,35.905,1.006
std,450037.368,2815.269,18.304,0.000,60.425,1031.033,1706.132,7659.725,924.949,6346.054,403.424,7.885
min,526.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,3003.000,2.000,0.000,0.000,0.000,0.000,1.000,40.500,6.000,31.000,0.000,0.000
50%,7233.500,6.000,0.000,0.000,0.000,1.000,4.000,112.500,17.500,94.000,2.000,0.000
75%,18427.500,22.000,0.000,0.000,2.000,5.000,14.000,341.000,51.250,287.250,7.000,0.000
max,8396126.000,52384.000,335.000,0.000,1112.000,19170.000,31767.000,141971.000,16606.000,117931.000,7434.000,132.000

In [6]:
# Select feature set and outcome of interest
X = df.drop(['City','Violent\ncrime'], axis=1)
y = df[['Violent\ncrime']]

# Instantiate our model
decision_tree = tree.DecisionTreeRegressor(
    criterion='mse',
    max_features=1,
    max_depth=5)

decision_tree.fit(X, y)
y_pred = decision_tree.predict(X)

print(decision_tree.score(X, y))
print(cross_val_score(decision_tree, X, y, cv=10))

0.9997538988200193
[0.92552617 0.8710441  0.33407379 0.37860602 0.86385764 0.82455219
 0.09312366 0.67562443 0.975176   0.74460225]

In [7]:
tree_time = %timeit decision_tree.fit(X, y)

233 µs ± 16.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.000,0.000,0.000,0.000,0.000,0.000,0.000,12.000,2.000,10.000,0.000,0.000
1,Addison Town and Village,2577.000,3.000,0.000,0.000,0.000,0.000,3.000,24.000,3.000,20.000,1.000,0.000
2,Akron Village,2846.000,3.000,0.000,0.000,0.000,0.000,3.000,16.000,1.000,15.000,0.000,0.000
3,Albany,97956.000,791.000,8.000,0.000,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,0.000
4,Albion Village,6388.000,23.000,0.000,0.000,3.000,4.000,16.000,223.000,53.000,165.000,5.000,0.000

In [9]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

In [10]:
# Select feature set and outcome of interest
X = df[['Population', 'Murder and\nnonnegligent\nmanslaughter', 'Robbery', 'Aggravated\nassault', 'Property\ncrime']]
y = df['Violent\ncrime']

# Instantiate our model
decision_tree = tree.DecisionTreeRegressor(
    criterion='mse',
    max_features=1,
    max_depth=5)

decision_tree.fit(X, y)
y_pred = decision_tree.predict(X)

print(decision_tree.score(X, y))
print(cross_val_score(decision_tree, X, y, cv=10))

0.9997779914937674
[ 0.92908443  0.8278059   0.19442297 -0.02037965  0.89615137  0.93523057
  0.09314056  0.67352965  0.94664842  0.93050851]

In [11]:
%timeit decision_tree.fit(X, y)

218 µs ± 9.94 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [12]:
rfr = RandomForestRegressor()
rfr.fit(X, y)

print(rfr.score(X, y))
print(cross_val_score(rfr, X, y, cv=10))

0.9208537772633936
[0.97899675 0.79868149 0.95363237 0.9674167  0.9782446  0.98896502
 0.07789626 0.99546398 0.97696643 0.91076314]

In [13]:
%timeit rfr.fit(X, y)

12.2 ms ± 103 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
rfr = RandomForestRegressor(max_depth=10)
rfr.fit(X, y)

print(rfr.score(X, y))
print(cross_val_score(rfr, X, y, cv=10))

0.9648489010603581
[0.95404816 0.80296293 0.96110556 0.97863267 0.96680734 0.98193457
 0.0846909  0.9934425  0.9411987  0.98452889]

In [19]:
%timeit rfr.fit(X, y)

12.1 ms ± 517 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)