In [60]:
import numpy as np
import pandas as pd
import statistics

In [62]:
brady_bunch = pd.DataFrame([14, 12, 11, 10, 8, 6, 8])

In [76]:
stat = brady_bunch.describe()
stat

               0
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [67]:
brady_bunch.var()

0    7.47619
dtype: float64

In [68]:
brady_bunch.mode()

   0
0  8

In [74]:
standard_error = stat.loc['std']/stat.loc['count']**0.5
standard_error

0    1.033454
dtype: float64

In [77]:
# 2. Since mean and median are close, looking at the mean and std deviation are good options

In [78]:
bbunch2 = pd.DataFrame([14, 12, 11, 10, 8, 7, 8])

In [80]:
stat2 = bbunch2.describe()
stat2

               0
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [81]:
bbunch2.var()

0    6.333333
dtype: float64

In [82]:
bbunch2.mode()

   0
0  8

In [86]:
standard_error = stat2.loc['std']/stat2.loc['count']**0.5
standard_error

0    0.95119
dtype: float64

In [83]:
# 3. Mean now matches median, variance was reduced, mode remained the same, and std deviation decreased slightly

In [84]:
bbunch3 = pd.DataFrame([14, 12, 11, 10, 8, 7, 1])

In [85]:
stat3 = bbunch3.describe()
stat3

               0
count   7.000000
mean    9.000000
std     4.242641
min     1.000000
25%     7.500000
50%    10.000000
75%    11.500000
max    14.000000

In [87]:
bbunch3.var()

0    18.0
dtype: float64

In [ ]:
# No mode for data, all unique values

In [89]:
standard_error = stat3.loc['std']/stat3.loc['count']**0.5
standard_error

0    1.603567
dtype: float64

In [90]:
# Mean diverges from median due to outlier, so best to use median

In [95]:
# 5. Since the data point from SciPhi Phanatic is an outlier, a more representative sample without it leads us to an average of the other magazines.
np.mean([0.20, 0.23, 0.17])

0.20000000000000004

In [ ]:
# Estimate roughly 20% of Americans were fans of the show on its 50th anniversary